<!--Mostra gare, con filtri-->
<%- include('partials/header'); -%>
<form action="/competitions" method="get" id="competition-filter">
     <div class="columns">
          <div class="column-is-5 competition-filter-input">
               <div class="select">
                    <select name="type">
                         <option value="" selected>Tipo di gara</option>
                         <option value="ICF World Campionships">ICF World Campionships</option>
                    </select>
               </div>
          </div>

          <br class="is-hidden-desktop">

          <div class="column-is-5 competition-filter-input">
               <input type="text" class="competition-filter-year" id="year " name="year"  placeholder="Inserisci anno...">
          </div>
          
          <br class="is-hidden-desktop">

          <div class="column-is-5 competition-filter-input">
               <div class="select">
                    <select name="category">
                         <option value="" selected>Imbarcazione</option>
                         <option value="C1">C1</option>
                         <option value="K1">K1</option>
                    </select>
               </div>
          </div>

          <br class="is-hidden-desktop">

          <div class="column-is-5 competition-filter-input">
               <div class="select">
                    <select name="sex">
                         <option value="" selected>Sesso</option>
                         <option value="M">M</option>
                         <option value="F">F</option>
                    </select>
               </div>
          </div>

          <br class="is-hidden-desktop">

          <div class="column-is-5 competition-filter-input">
               <button style="margin-top:0px!important;">FILTRA</button>
          </div>
     </div>
</form> 
<main class="tabella-competizioni">
     <table class="table is-fullwidth">
       
          
          <% if(competitions.length>0){%>
          <thead>
               <th>Tipo di competizione</th>
               <th>Anno e località</th>
               <th>Categoria</th>
               <th>Oro</th>
               <th>Argento</th>
               <th>Bronzo</th>
          </thead>

          <tbody >
               <% competitions.forEach(competition => { %>
               <tr>
                    <td><%= competition.type%></td>
                    <td><%= competition.year %>, <%= competition.place %></td>
                    <td><%= competition.category %>, <%= competition.sex %></td>
                    <td><%= competition.gold.Name %> <%= competition.gold.Surname %>, <%= competition.gold.State %></td>
                    <td><%= competition.silver.Name %> <%= competition.silver.Surname %>,
                         <%= competition.silver.State %>
                    </td>
                    <td><%= competition.bronze.Name %> <%= competition.bronze.Surname %>,
                         <%= competition.bronze.State %>
                    </td>
               </tr>
               <% }) %>
          </tbody>
          <%}else{%>
          <tbody>
               <td>
                    Nessuna competizione trovata
               </td>
          </tbody>
          <%}%>
</table>
</main>
<%- include('partials/footer'); -%>